<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>

    <script>
        function validate(input) {
            let validityState_object = input.validity;

            if (validityState_object.patternMismatch) {
                input.setCustomValidity('Entrada no valida.');
            } 
            else {
                input.setCustomValidity('');
            }
        }
    </script>

    <div class="justify-content-center align-items-center h-100">
        <div>
            <form action="/buscarProducto" method="post">
                <h2 class="fw-bold mb-2 eliminarFormTitulo">Buscar Producto</h2>
            
                <div class="row" style="text-align: center;">
                    <div class="col-sm">
                    </div>

                    <div class="form-outline form-white mb-4 col-sm-2 elimnarFormInput">
                        <label class="form-label fw-bold" for="producto">Nombre del Producto</label>
                        <input
                            id="producto"
                            name="producto"
                            class="form-control"
                            pattern="^[A-Za-z0-9\s]{1,90}$"
                            onsubmit="validate(this)"
                        />
                    </div>

                    <div class="col-sm">
                    </div>
                </div>

                <div style="text-align:center; margin-top: 30px;">
                    <button type="submit" class="btn btn-dark">Buscar</button>
                </div>

            </form>
        </div>

        <div style="text-align: center; padding-top: 120px; font-weight: bold;">
            <!-- Rellenar dinamicamente con mensaje de error -->
            <p> <%= mensajeError %> </p>
        </div>
    </div>

<%- include ('partials/footer.ejs') -%> 