<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%> 

<style>
    .img {
        background-repeat: no-repeat;
        background-position: 900px 135px, 420px 70px;
        background-size: 200px, 230px;
    }
    
    .text {
        text-align: right;
        /* text-transform: capitalize; */
        border-bottom-style: initial;
        border-radius: 50px;
        border-color: aquamarine;
        text-size-adjust: 1px;
    }

</style>

<div class="home">
    <div style="text-align: center; padding-top: 450px;">
        <!-- <img src="images/login.png"> -->
        <div>
            <h1 class="text tituloHome">
                Bienvenido a Gimnasio Teflon Academy
            </h1>
            
            <div style="text-align: center; padding-top: 40px;">
                <form action="/" method="post">
                    <button type="submit" class="btn btn-dark btn-lg">Acceso</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footer.ejs') -%> 