<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%> 
    <!--<div class="img">
        <img src="images/imagen.png" alt="">
    </div>-->
<%- include ('partials/footer.ejs') -%> 