<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>

    <div>
        <img src="images/login.png" class="img"/>
        <img src="images/login2.png" class="img" />
        <img src="images/login3.png" class="img"/>
    </div>
    
<%- include ('partials/footer.ejs') -%> 