<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>

    <div class="justify-content-center align-items-center h-100">
        <div>
            <form action="/menuPrincipal" method="post">
                <h2 class="fw-bold mb-2 menuPrincipalTitulo" style="text-align: center">
                    Menú Principal 
                </h2>
                
                <% if (privilegio === "Administrativo" || privilegio === "Auxiliar Administrativo") { %>
                    <div class="row" style="padding-top: 25px;">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Acceso</button>
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Bitácora de Atelta</button> 
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Pago de Membresía</button>
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Reporte de Ventas</button> 
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Agregar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Agregar Empleado</button>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Editar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Editar Empleado</button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Eliminar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Eliminar Empleado</button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm"></div>
                        
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Punto de Venta</button> 
                        </div>
    
                        <div class="col-sm"></div>
                    </div>
                <% } else { %>
                    <div class="row">
                        <div class="col-sm"></div>
                        
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark">Bitácora de Atleta</button> 
                        </div>
    
                        <div class="col-sm"></div>
                    </div>                   
                <% } %>
            </form>
        </div>
    </div>

<%- include ('partials/footer.ejs') -%> 
