<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>

    <div class="justify-content-center align-items-center h-100">
        <div>
            <form action="/menuPrincipal" method="post">
                <h2 class="fw-bold mb-2 menuPrincipalTitulo" style="text-align: center">
                    Menú Principal 
                </h2>
                
                <% if (privilegio === "Administrativo") { %>
                    <div class="row" style="padding-top: 25px;">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark"  formmethod="get" formaction="/registroAcceso">Acceso</button>
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/verRegistroAcceso">Ver el Registro de Accesos</button> 
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/pagoMembresia">Pago de Membresía</button>
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/resumen"> Bitácora de Atelta</button> 
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/registrarAtleta">Agregar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/registrarEmpleado">Agregar Empleado</button>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/editarAtleta">Editar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/editarEmpleado">Editar Empleado</button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/eliminarAtleta">Eliminar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/eliminarEmpleado">Eliminar Empleado</button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-success" formmethod="get" formaction="/menuFinanzas">Menú de Finanzas</button> 
                        </div>

                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-danger" formmethod="get" formaction="/puntoVentaMenu">Punto de Venta</button> 
                        </div>
    
                    </div>
                <% } else if (privilegio === "Auxiliar Administrativo") { %>
                    <div class="row" style="padding-top: 25px;">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark"  formmethod="get" formaction="/registroAcceso">Acceso</button>
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/verRegistroAcceso">Ver el Registro de Accesos</button> 
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/pagoMembresia">Pago de Membresía</button>
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/resumen"> Bitácora de Atelta</button> 
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/registrarAtleta">Agregar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/registrarEmpleado">Agregar Empleado</button>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/editarAtleta">Editar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/editarEmpleado">Editar Empleado</button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/eliminarAtleta">Eliminar Atleta</button> 
                        </div>
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/eliminarEmpleado">Eliminar Empleado</button>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm d-grid"></div>
                        
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 25px">
                            <button type="submit" class="btn btn-danger" formmethod="get" formaction="/puntoVentaMenu">Punto de Venta</button> 
                        </div>
                        
                        <div class="col-sm d-grid"></div>
                    </div>
                <% } else { %>
                    <div class="row">
                        <div class="col-sm"></div>
                        
                        <div class="col-sm d-grid" style="text-align: center; margin-top: 100px">
                            <button type="submit" class="btn btn-dark" formmethod="get" formaction="/resumen">Bitácora de Atleta</button> 
                        </div>
    
                        <div class="col-sm"></div>
                    </div>
                    
                    <div style="text-align:center; padding-top: 100px; font-weight: bold; font-size: large;">
                        <!-- Rellenar dinamicamente dependiendo de si se logro o fallo la eliminacion -->
                        <p> <%= mensajeError %> </p>
                    </div>
                <% } %>
            </form>
        </div>
    </div>

<%- include ('partials/footer.ejs') -%> 
