<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>

<script>
    function validate(input) {
        let validityState_object = input.validity;

        if (validityState_object.patternMismatch) {
            input.setCustomValidity('Entrada no valida.');
        } 
        else {
            input.setCustomValidity('');
        }
    }
</script>


<div class="justify-content-center align-items-center h-100">
    <div>
        <form action="/puntoVentaEditarInventario" method="post">
            <h2 class="fw-bold mb-2 eliminarFormTitulo">Editar Campo</h2>
            
                <div class="row" style="text-align: center">
                    <div class="col-sm"></div>
            
                    <div class="form-outline form-white mb-4 col-sm registrarAtletaFormInput">
                        <% if (campoEditarP === "nombre") { %>
                            <label class="form-label fw-bold" for="nuevoValor">Nombre</label>
                            <input id="nombre" name="nuevoValor" class="form-control" type="text"/>

                        <% } else if (campoEditarP === "descripcion") { %>
                            <label class="form-label fw-bold" for="nuevoValor">Descripción</label>
                            <input id="descripcion" name="nuevoValor" class="form-control" />

                        <% } else if (campoEditarP === "precio") { %>
                            <label class="form-label fw-bold" for="nuevoValor">Precio</label>
                            <input id="precio" name="nuevoValor" class="form-control" pattern="^[0-9]{1,4}\.{0,1}[0-9]{1,10}$"
                            onsubmit="validate (this)" />
                            
                        <% } else { %>
                            <label class="form-label fw-bold" for="nuevoValor">Existencia</label>
                            <input id="existencia" name="nuevoValor" class="form-control" pattern="^[0-9]{1,9}$"
                            onsubmit="validate (this)"/>
                        <% } %>
                    </div>
            
                    <div class="col-sm"></div>
                </div>
               

                <div style="text-align:center; margin-top: 30px;">
                    <button type="submit" class="btn btn-danger">Editar</button>
                </div>

        </form>
    </div>

    <div style="text-align: center; padding-top: 120px; font-weight: bold;">
        <!-- Rellenar dinamicamente con mensaje de error -->
        <p> <%= mensajeError %> </p>
    </div>
</div>

<%- include ('partials/footer.ejs') -%> 