<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>
    <div class="justify-contenent-center h-100">
        <h2 class="fw-blob mb-2 puntoVentaCarrito", method="post">
            Añadir al carrito
        </h2>
    </div><br><br>
    <div class="justify-contenent-center">
        <!--left-->
        <table border="2", width="300", height="200", align="left">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
        </table>
        <!--right-->
        <table border="2", width="300", height="200", align="right">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
        </table><br><br>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-dark">Añadir Producto</button><br><br>
        <button type="submit" class="btn btn-dark">Eliminar Producto</button><br><br><br>
        <button type="submit" class="btn btn-dark">Pagar</button>
    </div>
    <div align="right">
        <button type="submit" class="btn btn-dark">Cancelar</button>
    </div>
    <div style="text-align: center; padding-top: 21px">
        <!-- Rellenar dinamicamente con mensaje de error -->
        <p><%= mensajeError %> </p>
    </div>

<%- include ('partials/footer.ejs') -%> 
