<%- include ('partials/header.ejs', {titulo: titulo, usuario: usuario, login: login, sesion: sesion}) -%>
 <div class=" justify-content-center align-items-center h-100">
        <div>
            <form action="/registrarAtleta" method="post">
                <h2 class="fw-blob mb-2 registrarAtletaFromTitulo">
                    Registrar Atleta
                </h2>

                <!--Primera fila-->
                <div class="row" style="text-align: center">
                    <div class="from-outline from-white mb-4 col-sm registrarAtletaFromInput">
                        <label class="form-label fw-bold" for="nombreCompleto">Nombre Completo</label>
                        <input id="nombreCompleto" class="form-control"/>
                    </div>
                    <div class="from-outline from-white mb-4 col-sm registrarAtletaInput">
                        <label class="from-label fw-bold" for="Altura">Altura</label>
                        <input id="Altura" class="form-control" pattern="^[0-3]\.[0-9]{2}$" oninvalid="this.setCustomValidity('Altura invalida.')"/>
                    </div>
                </div>

                <!--Segunda fila-->
                <div class="row" style="text-align: center">
                    <div class="form-outline form-white mb-4 col-sm registrarAtletaFormInput">
                        <label class="from-label fw-bold" name="fechaNacimientoLabel" for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input id="fechaNacimiento" name="fechaNacimiento" class="form-control" type="date"/>
                    </div>

                    <div class="form-outline form-white mb-4 col-sm registrarAtletaFormInput">
                        <label class="form-label fw-bold" for="Peso">Peso</label>
                        <input id="Peso" class="form-control" pattern="^[1-2]*[0-9]{2}\.[0-9]{2}$" oninvalid="this.setCustomValidity('Peso en formato invalido. _ _._ _kg')"/>
                </div>
                <!--Tercera fila-->
                <div class="row" style="text-align: center">
                    <div class="col-sm">
                    </div>

                    <div class="form-outline form-white mb-4 col-sm registrarAtletaFormInput">
                        <label class="form-label fw-bold" for="membresia">Membresia</label>
                        <select id="membresia" name="membresia" class="form-select">
                            <option value="" selected hidden></option>
                            <option value="semanal">Semanal</option>
                            <option value="mensual">Menesual</option>
                            <option value="anual">Anual</option>
                        </select>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
                <!--Botones-->
                <div style="text-align: right; margin-top: 25px">
                    <button type="submit" class="btn btn-dark">Registrar</button>
                </div>
                <div style="text-align: left; margin-top: 25px">
                    <button type="submit" class="btn btn-dark">Volver</button>
                </div>
            </form>
        </div>

        <div style="text-align: center; padding-top: 21px">
            <!-- Rellenar dinamicamente con mensaje de error -->
            <p><%= mensajeError %> </p>
        </div>
    </div>

<%- include ('partials/footer.ejs') -%> 
