body{
    background-image: radial-gradient(circle at -19.64% 62.28%, #9fdae0 0, #a0dae4 4.55%, #a1d9e8 9.09%, #a3d8ec 13.64%, #a7d7ef 18.18%, #abd6f1 22.73%, #afd5f3 27.27%, #b5d3f4 31.82%, #bbd2f4 36.36%, #c1d0f4 40.91%, #c7cff3 45.45%, #cdcdf2 50%, #d3cbf0 54.55%, #d9caed 59.09%, #dfc8ea 63.64%, #e4c7e7 68.18%, #e8c6e3 72.73%, #ecc5de 77.27%, #f0c4da 81.82%, #f3c4d5 86.36%, #f5c3d0 90.91%, #f6c3cb 95.45%, #f7c3c6 100%);    min-height: 100vh; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* grid-template-rows: auto 1fr auto; */
}

/* Navbar */
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    background-color: rgb(43, 43, 43);   
}

.botonIniciarSesion {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Pie de Pagina */
.footer-padding {
	padding-bottom: 30px;
}

.footer {
	text-align: center;
	background-color: #000;
    margin-top: auto;
    padding: 0.5em 0;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}

/* Imagenes */
/*.img {
    background-image: url("/public/images/login.png"), url("/public/images/login2.png"), url("/public/images/login3.png"); 
    background-repeat: no-repeat;
    background-position: 130px 140px, 75px 60px, 50px 90px;
    background-size: 300px, 200px, 30px;
}*/

/*
.img {
    background-image: url("/public/images/imagen.png"); 
    background-repeat: no-repeat;
    background-position: 130px 140px;
    background-size: 300px;
}*/

/* Login */
.entradaLogin {
    padding-bottom: 50px;
}

/* Contenedor principal */
.container {
    align-items: center;
}

/* Eliminar Atleta */
.eliminarFormTitulo {
    text-align: center;
    padding-top: 50px;
}

.elimnarFormInput {
    text-align: center;
    padding-top: 50px;
}

/* Contraseña */
.contraseniaFormTitulo {
    text-align: center;
    padding-top: 50px;
}

.contraseniaFormInput{
    text-align: center;
    padding-top: 25px; 
}

/* Registrar Empleado */
.registrarEmpleadoFormTitulo {
    text-align: center;
    padding-top: 50px;
}

.registrarEmpleadoFormInput {
    text-align: center;
    padding-top: 25px; 
}

/* Registrar Atleta */
.registrarAtletaFormTitulo {
    text-align: center;
    padding-top: 50px;
}

.registrarAtletaFormInput {
    text-align: center;
    padding-top: 25px;
}

/* Menu Principal */
.menuPrincipalTitulo {
    text-align: center;
    padding-top: 50px;
}

/* Pagina de Inicio */
.inicioFormTitle {
    text-align: center;
    padding-top: 50px;
}

/* Tabla Resumen Atleta */
.tablaResumen {
    padding-top: 150px;
}
